.contenedor-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383434;
    color: #FFF;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .contenedor-texto-menu {
    display: flex;
  }
  
  .opcion-inicio,
  .opcion-facturas,
  .opcion-nosotros,
  .opcion-cuenta {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .icono-opcion {
    width: 20px; /* Ajusta el ancho del icono según sea necesario */
    height: 20px; /* Ajusta la altura del icono según sea necesario */
    margin-right: 5px; /* Añade un pequeño margen entre el icono y el texto */
  }